<!DOCTYPE html>
<html lang="en">
{% extends "main/baseTemplate.html" %}
<!--This view is for displaying a month of a calendar with 7 days in a row -->

{% block content %}
    {% load static %}
    <link rel='stylesheet' href={% static 'calendar.css' %}>
    <script src={% static 'calendar.js' %} async></script>
    <h1>{{list.month}}</h1>
    <div id="weekDays", class="weekDays">
        <ul>
            <li>Montag</li>
            <li>Dienstag</li>
            <li>Mittwoch</li>
            <li>Donnerstag</li>
            <li>Freitag</li>
            <li>Samstag</li>
            <li>Sonntag</li>
        </ul>
    </div>
    <div id="Squares" class="Squares">
        {% with '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22' as list %}
            {% for counter in list.split %}
                <div id="daySquares" class="daySquares">
                    {{counter}}
                </div>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}
</html>
