<!DOCTYPE html>
<html lang="en">
{% extends "main/baseTemplate.html" %}
<!--This view is for displaying a month of a calendar with 7 days in a row -->

{% block content %}
    {% load static %}
    <link rel='stylesheet' href={% static 'calendar.css' %}>
    <script src={% static 'calendar.js' %} async></script>
    <h1>{{month}} {{year}}</h1>
    <div id="weekDays", class="weekDays">
        <ul>
            <li>Montag</li>
            <li>Dienstag</li>
            <li>Mittwoch</li>
            <li>Donnerstag</li>
            <li>Freitag</li>
            <li>Samstag</li>
            <li>Sonntag</li>
        </ul>
    </div>
    <div id="Squares" class="Squares">
        {% for counter in numberOfDays %}
            <div id="daySquares" class="daySquares">
                {{counter}}
            </div>
        {% endfor %}
    </div>
{% endblock %}
</html>
