<!DOCTYPE html>
<html lang="en">
{% extends "main/baseTemplate.html" %}
<!--This view is for displaying a month of a calendar with 7 days in a row -->
{% block content %}
    <h1>{{list.year}}</h1>
    <ul id="Squares" class="Squares">
        {% for appointment in list.appointment_set.all %}
            <li id="daySquares">
                {{appointment.name}}
            </li>
        {% endfor %}
    </ul>

    {% load static %}
    <link rel='stylesheet' href={% static 'calendar.css' %}>
{% endblock %}
</html>
