body {
    margin-left: 280px;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    background-color: #313131;
    color: black;
}

nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    color: #818181;
    font-weight: bold;
}

.navBarTitle{
    padding: 6px 8px 6px 16px;
    font-size: 25px;
}

nav ul {
    padding: 6px 8px 6px 16px;
    display: block;
    list-style-type: none;
}

.show{
    display: block;
}

nav ul li a {
    color: #818181;
    font-size: 20px;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
}

nav ul li a:hover {
    padding: 6px 8px 6px 20px;
    color: #f1f1f1;
}

nav ul ul {
    display: none;
}

nav ul ul li a{
    font-size: 15px;
}
