/*This view is for displaying a month of a calendar with 7 days in a row*/

#Squares {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
}

#daySquares{
  background: #818181;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}