<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel='stylesheet' href={% static 'styles/baseStyle.css' %}>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src={% static 'functionality/mybase.js' %} async></script>
    <meta charset="UTF-8">
    <title>Family Calendar</title>
</head>



<body>
<nav class="navigationSideBar">
        <div class="navBarTitle">Family Calendar</div>
        <ul>
            <li><a href="#" class="home-btn">Home</a></li>
            <li>
                <a href="#" class="calendarMenu-btn">Calendar</a>
                <ul class="calendarMenu">
                    <li><a href="#" class="view-calendar-btn">View Calendar</a></li>
                    <li><a href="#" class="new-calendar-btn">New Calendar</a></li>
                    <li><a href="#" class="new-appointment-btn">New Appointment</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div name ="content", class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
