<!DOCTYPE html>
<html lang="en">
{% extends 'gui/baseTemplate.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'keyboard/css/keyboard.css' %}">
<link rel='stylesheet' href="{% static 'css/formStyler.css' %}">
<h1>Create appointment</h1>
<form method="post" action="/CreateAppointment/">
    {% csrf_token %}
    {{form.as_ul}}
    <button type="submit" , name="save">
        Save
    </button>
    <script src="{% static 'keyboard/js/jquery.keyboard.js' %}"></script>
    <script src="{% static 'js/createAppointment.js' %}" async></script>
</form>
{% endblock %}